*.swp
*.py[co]

docs/user/.buildinfo
docs/user/.doctrees
docs/user/objects.inv
docs/user/searchindex.js
docs/user/_static
docs/user/_images
docs/user/*.html
docs/user/**/*.html
docs/user/_sources/release_notes/index.txt
docs/user/_sources/release_notes/latest.txt
docs/user/**/generated/**/*
docs/user/futuredocs/*.html

docs/developer/.buildinfo
docs/developer/.doctrees
docs/developer/objects.inv
docs/developer/searchindex.js
docs/developer/_static
docs/developer/_images
docs/developer/_modules
docs/developer/*.html
docs/developer/**/generated/**/*
docs/developer/developer/*.html
docs/developer/workflows/*.html

.vscode/settings.json
.vscode/tags
