*.swp
*.py[co]
**/__pycache__

docs/.buildinfo
docs/.doctrees
docs/objects.inv
docs/searchindex.js
docs/_sources/developer/CONTRIBUTING.rst
docs/_sources/references/*.yml
docs/_static
docs/_images
docs/*.html
docs/**/*.html
!docs/_static/*.html
!docs/_templates/*.html
docs/**/generated/**/*
docs/**/futuredocs/*.html
docs/**/workflows/*.html

.vscode/settings.json
.vscode/tags
