/* docs version dropdown: top bar */
.brand > select {
  background: transparent;
  border: none;
  color: var(--color-header-text);
}

/* docs version dropdown: side bar */
.sidebar-brand-text > select {
    background-color: transparent;
    border: none;
    color: var(--color-sidebar-link-text--top-level);
    text-decoration: underline;
    text-decoration-color: var(--color-link-underline);
}

.svg-flowchart > svg {
  width: 100%;
  height: auto;
}
